.container {
  background-color: #fff;
  padding: 0 var(--side-padding);
  position: sticky;
  top: 0;
  height: var(--header-height);
  z-index: 100;
}
.menuContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  .menu {
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: var(--header-height);
    padding: 0 4px;
    position: relative;
    text-decoration: none;
  }
}

